<html>
	<head>
		<title>Emerge</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/owl.carousel.css" />
		<link rel="stylesheet" href="assets/css/job-details.css"/>
		<link rel="stylesheet" href="assets/css/style.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:300,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="assets/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
	</head>
<body>
	<div class="header">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 em-topbar">
				<div class="col-lg-2 col-md-3 col-sm-3 p-0">
					<i class="fa fa-phone-square white-clr"></i>&nbsp;&nbsp;<a href="tel: +27 11 463 3633" class="white-clr c-g-fnt">+27 11 463 3633</a>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-3 p-0">
					<i class="fa fa-envelope white-clr"></i>&nbsp;&nbsp;<a href="mailto: info@e-merge.co.za" class="white-clr c-g-fnt">info@e-merge.co.za</a>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 p-0">
					<i class="fa fa-map-marker white-clr"></i>&nbsp;&nbsp;<span class="m-0 white-clr c-g-fnt">No. 4 Anslow Lane, Block A, 1st Floor Bryanston, South Africa</span>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 p-0">
					<div class="so-icon pull-right">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-google"></i></a>
						<a href="#"><i class="fa fa-bars cstm-menu"></i></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<br><br><br>
			<div class="m-t-5p">
				<div class="text-center">
					<img src="assets/img/logo.png" class="img-responsive m-0-auto"> <br><br>
					<p class="white-clr lato-l-fnt f-s-17">We’ll help you find a Dev job that you love</p>
					<div>
						<form action="search.html" class="submit-bg">
							<div class="d-i-f">
								<div class="pull-left search-div">
									<input type="text" class="form-control cstm-form-control1" placeholder="Search for Jobs!" required="">
									<select class="search-filter">
										<option value="job">Job</option>
										<option value="Candidate">Candidate</option>
									</select>
								</div>
								<div class="pull-right search-btn">
									<input type="submit" class="em-btn" value="SEARCH">
								</div>
							</div>
						</form>
					</div>
					<br><br><br>
				</div>
			</div>
		</div>
		<div class="p-r">
			<div class="left-triangle triangle-gray"></div>
			<div class="right-triangle triangle-gray"></div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="gray-bg">
		<div class="pull-right">
			<div class="job-section-so-link">
				<i class="fa fa-map-marker"></i><br>
				<i class="fa fa-phone"></i><br>
				<i class="fa fa-envelope"></i>
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="job-details-container">
			<div class="container">
				<div class="col-lg-12">
					<div class="col-lg-12">
						<div class="jdev-box2">
							<h4 class="orange-clr"><strong>{{title}}</strong></h4>
							<div class="job-icon-section-2">
								<div class="job-icon-section-cls">
									<label class="job-icon-section-lbl"><i class="fa fa-map-marker"></i>&nbsp;Johannesburg, South Africa.</label>
								</div>
								<div class="job-icon-section-cls">
									<label class="job-icon-section-lbl"><i class="fa fa-clock-o"></i>&nbsp;Full-time</label>
								</div>
								<div class="job-icon-section-cls">
									<label class="job-icon-section-lbl"><i class="fa fa-tags"></i>&nbsp;{{tags}}</label>
								</div>
							</div>
							<div class="clearfix"></div><br />
							<p class="em-lbl">
								{{description}}
							</p>
							<div class="row">
								<div class="col-md-12">
									<div class="pull-left">
										<h4 class="orange-clr">Salary</h4>
										<p>Between R780K To R600K</p>
									</div>
									<div class="pull-right">
										<h4 class="orange-clr">Ref: KMJ0718</h4>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="underline-sep"></div>
							<a class="em-link em-btn em-btn-inverse" href="search.html"><i class="fa fa-times"></i>&nbsp;Cancel</a>
							<a class="em-link em-btn" href="#contact" data-toggle="modal"><i class="fa fa-check"></i>&nbsp;Apply</a>
							<div class="pull-right d-i-f">
								<h4 class="oswald-r-fnt m-0 m-t-5">Share With Your Friends</h4>
								<div class="jdev-so-icon">
									<a href="#"><i class="fa fa-facebook jdev-fb"></i></a>
									<a href="#"><i class="fa fa-twitter jdev-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin jdev-linkedin"></i></a>
									<a href="#"><i class="fa fa-google jdev-google"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>


		<br><br>
	</div>
	<div class="clearfix"></div>

	<div class="footer">
		<br><br>
		<div class="p-r">
			<div class="left-triangle1 triangle-gray1"></div>
			<div class="right-triangle1 triangle-gray1"></div>
		</div>
		<br><br><br>
		<div class="container">
			<div class="col-lg-12 col-md-12">
				<div class="col-lg-8 col-md-8">
					<h1 class="oswald-l-fnt m-0 white-clr">Get In Touch With Us</h1>
					<hr class="m-l-0">
					<div class="col-lg-12 col-md-12 col-sm-12 p-0">
						<form action="">
							<div class="col-lg-4 col-md-4 col-sm-4 p-0">
								<div class="p-r-15">
									<input type="text" class="form-control cstm-form-control" placeholder="Name *">
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 p-0 m-t-15-xs">
								<div class="p-r-15">
									<input type="text" class="form-control cstm-form-control" placeholder="Email *">
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 p-0 m-t-15-xs">
								<div class="p-r-15">
									<input type="text" class="form-control cstm-form-control" placeholder="Phone *">
								</div>
							</div>
							<div class="clearfix"></div>
							<br>
							<div class="p-r-15">
								<textarea cols="15" rows="5" class="form-control cstm-form-control" placeholder="Message"></textarea>
							</div>
							<br>
							<!-- <div class="btn cstm-btn2 m-l-0">SUBMIT</div> -->
							<input type="submit" class="btn cstm-btn2 m-l-0" value="SUBMIT">
						</form>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.2861226534887!2d28.018586715027002!3d-26.056903983503563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95738a3a3ea9e9%3A0x699ad6973b5785c2!2sAnslow+Ln%2C+Sandton%2C+2191%2C+South+Africa!5e0!3m2!1sen!2sin!4v1475823778076" height="350" frameborder="0" style="border:0" class="cstm-map" allowfullscreen></iframe>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<br><br><br>
		<div class="p-r">
			<div class="left-triangle triangle-black"></div>
			<div class="right-triangle triangle-black"></div>
		</div>
	</div>

	<div class="black-bg">
		<br><br>
		<div class="container">
			<ul class="footer-link text-center">
				<li><a href="#">HOME</a></li>|
				<li><a href="#">ABOUT</a></li>|
				<li><a href="#">JOB SEEKERS</a></li>|
				<li><a href="#">CLIENTS</a></li>|
				<li><a href="#">BLOG</a></li>|
				<li><a href="#">CONTACT US</a></li>
			</ul>

			<div class="col-lg-12 col-md-12 col-sm-12 m-t-15 p-0 text-center footer-address">
				<div class="col-lg-3 col-md-3 col-sm-3 p-0">
					<i class="fa fa-phone-square white-clr"></i>&nbsp;&nbsp;<a href="tel: +27 11 463 3633" class="white-clr c-g-fnt">+27 11 463 3633</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 p-0">
					<i class="fa fa-envelope white-clr"></i>&nbsp;&nbsp;<a href="mailto: info@e-merge.co.za" class="white-clr c-g-fnt">info@e-merge.co.za</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 p-0">
					<i class="fa fa-map-marker white-clr"></i>&nbsp;&nbsp;<span class="m-0 white-clr c-g-fnt">No. 4 Anslow Lane, Block A, 1st Floor Bryanston, South Africa</span>
				</div>
			</div>
			<div class="clearfix"></div>
			<br>
			<div class="footer-so-link text-center">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-google"></i></a>
			</div>
			<br>
	</div>
	<div class="orange-bg">
		<p class="text-center m-0 p-10">© 2016 E-Merge. All Rights Reserved.  </p>
	</div>

	<!-- Modal Starts -->
	<div class="modal fade" id="contact" role="dialog" >
    <div class="modal-dialog">
    	<div class="modal-content cstm-modal-content">
		    <div class="modal-box">
		    	<div class="modal-close" data-dismiss="modal">
		    		<i class="fa fa-times"></i>
		    	</div>
		    	<h4>Apply for the job</h4>
		    	<br>
		    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  modal-so-icon">
		    		<div class="col-lg-3 col-md-3  col-sm-6 col-xs-12">
		    			<div class="so-icon1 fb">
		    				<a href="#"><i class="fa fa-facebook"></i>&nbsp;Sign in With Facebook</a>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-3  col-sm-6 col-xs-12">
		    			<div class="so-icon1 twitter">
		    				<a href="#"><i class="fa fa-twitter"></i>&nbsp;Sign in With Twitter</a>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-3  col-sm-6 col-xs-12">
		    			<div class="so-icon1 linkedin">
		    				<a href="#"><i class="fa fa-linkedin"></i>&nbsp;Sign in With Linked</a>
		    			</div>
		    		</div>
		    		<div class="col-lg-3 col-md-3  col-sm-6 col-xs-12">
		    			<div class="so-icon1 google">
		    				<a href="#"><i class="fa fa-google"></i>&nbsp;Sign in With Google</a>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="clearfix"></div>
		    	<br>
		    	<hr class="modal-hr">
		    	<div class="text-center">
		    		<p class="or">OR</p>
		    	</div>
		    	<div class="col-lg-12">
		    		<form action="">
			    		<div class="col-lg-6">
			    			<input type="text" class="em-input" placeholder="Name *">
			    		</div>
			    		<div class="col-lg-6">
			    			<input type="text" class="em-input" placeholder="Surname *">
			    		</div>
			    		<div class="clearfix"></div>
			    		<br>
			    		<div class="col-lg-6">
			    			<input type="text" class="em-input" placeholder="Phone/Mobile Number *">
			    		</div>
			    		<div class="col-lg-6">
			    			<input type="text" class="em-input" placeholder="Email Address *">
			    		</div>
			    	</form>
		    	</div>
		    	<div class="clearfix"></div>
		    	<br>
					
					<div class="col-lg-12">
			    	<div class="pull-left p-15">
			    		<a href="#" class="em-btn em-btn-inverse">UPLOAD CV</a>
			    		<a href="#" class="em-btn">SUBMIT</a>
			    	</div>
			    	<div class="pull-right">
			    		<br>
			    		<div class="d-i-f">
				    		<p class="oswald-r-fnt f-s-20 m-0">Share the job with your friends</p>
								<div class="jdev-so-icon">
									<a href="#"><i class="fa fa-facebook jdev-fb"></i></a>
									<a href="#"><i class="fa fa-twitter jdev-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin jdev-linkedin"></i></a>
									<a href="#"><i class="fa fa-google jdev-google"></i></a>
								</div>
							</div>
			    	</div>
			    </div>
			    <div class="clearfix"></div>
			    <br>

		    </div>
		  </div>
	  </div>
  </div>
  <!-- Modal Ends -->
<script>
	$('#cstm-owl-carousel1').owlCarousel({
		loop:true,
		margin:10,
		nav:false,
		// autoplay: true,
		// autoplayTimeout: 2000,
		responsive:{
				0:{
						items:1
				},
				600:{
						items:1
				},
				1000:{
						items:1
				}
		}
});
</script>
<script>
	var owl = $('#cstm-owl-carousel1');
	owl.owlCarousel();
	$('.customNextBtn').click(function() {
		owl.trigger('next.owl.carousel');
	})
	$('.customPrevBtn').click(function() {
		owl.trigger('prev.owl.carousel', [300]);
	})
</script>
<script>
	$('#cstm-owl-carousel2').owlCarousel({
		loop:true,
		margin:10,
		nav:false,
		// autoplay: true,
		// autoplayTimeout: 2000,
		responsive:{
				0:{
						items:1
				},
				600:{
						items:1
				},
				1000:{
						items:3
				}
		}
});
</script>
<script>
	var owl2 = $('#cstm-owl-carousel2');
	owl2.owlCarousel();
	$('.customNextBtn2').click(function() {
		owl2.trigger('next.owl.carousel');
	})
	$('.customPrevBtn2').click(function() {
		owl2.trigger('prev.owl.carousel', [300]);
	})
</script>
<script>
	$('#cstm-owl-carousel3').owlCarousel({
		loop:true,
		margin:10,
		nav:false,
		// autoplay: true,
		// autoplayTimeout: 2000,
		responsive:{
				0:{
						items:1
				},
				600:{
						items:1
				},
				1000:{
						items:5
				}
		}
});
</script>
<script>
	var owl3 = $('#cstm-owl-carousel3');
	owl3.owlCarousel();
	$('.customNextBtn3').click(function() {
		owl3.trigger('next.owl.carousel');
	})
	$('.customPrevBtn3').click(function() {
		owl3.trigger('prev.owl.carousel', [300]);
	})
</script>
<script src="assets/js/common.js"></script>
<script src="assets/js/job-detail.js"></script>
</body>
</html>