/* First 1 style */
/* Job details page */
.job-ico-section {
	text-align: center;
}
.job-ico-section .job-details-icon {
	font-size: 30px;
	color: #F79928
}
.job-ico-section .job-details-lbl {
	font-weight: lighter;
	color: #6C7770;
	font-size: 22px
}


/* Second 2nd style */
.job-icon-section-2 {
	margin-top: 12px;
}
.job-icon-section-2 .job-icon-section-cls {
	float: left;
	margin-right: 15px;
}
.job-icon-section-2 .job-icon-section-cls .job-icon-section-lbl{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #6C7770;
}
.job-icon-section-2 .job-icon-section-cls .job-icon-section-lbl i{
	color: #F79928;
	font-size: 17px;
}