@font-face {
	font-family: c-g;
	src: url("../fonts/GOTHIC_0.TTF");
}
.oswald-r-fnt{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.oswald-l-fnt{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.lato-r-fnt{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.lato-l-fnt{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.c-g-fnt{
	font-family: c-g;
}
.center-line {
	margin: 20px auto;
}
.gray-bg{
	position: relative;
	background: #F3F3F3;
}
.em-lbl {
	color: #697770 !important;
	font-size: 15px;
}
.underline-sep {
	border-bottom: 1px solid #C9C9C9;
	margin: 10px 0;
}
.underline-sep:after {
	content: " ";
	display: table;
	clear: both;
}
.header{
	background-image: url("../img/bg2.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
}
.em-topbar {
	padding: 12px 0;
	border-bottom: 1px solid #CCC;
}
.em-social-icons {
	position: absolute;
	right: 0;
	top: 0;
}
.topbar-left a {
	margin-right: 10px;
}
.em-jobs {
	padding-top: 3em;
	z-index: 1;
}
.em-link {
	font-family: 'Lato', sans-serif;
	color: #666;
}
.em-link:hover {
	color: #333;
}

.d-i-f{
	display: inline-flex;
}
.d-f{
	display: flex;
}
.m-0{
	margin: 0px;
}
.p-0{
	padding: 0px !important;
}
.p-r-15{
	padding-right: 15px;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-15{
	margin-top: 15px;
}
.so-icon i{
	background: white;
	box-shadow: 0px 0px 0px 2px white;
	height: 24px;
	width: 24px;
	line-height: 24px;
	border-radius: 12px;
	text-align: center;
	color: black;
	margin-left: 10px;
	transition: 0.3s;
}
.cstm-menu{
	background: none !important;
	color: white !important;
	box-shadow: 0px 0px 0px 2px transparent !important;
	height: 30px;
	width: 30px;
	font-size: 18px !important;
	line-height: 30px;
}
.so-icon i:hover{
	background: transparent;
	color: white;
}
.brdr-top{
	/*padding-top: 10px;
	padding-top: 15px !important;*/
	border-top: 1px solid #CCC;
}
.brdr-btm{
	padding-top: 10px;
	padding-bottom: 15px !important;
	border-bottom: 1px solid #CCC;
}
.m-0-auto{
	margin: 0px auto;
}
.m-t-5p{
	margin-top: 5%;
}
.m-t-10p{
	margin-top: 10%;
}
.m-t-5{
	margin-top: 5px;
}
.m-t-10{
	margin-top: 10px !important;
}
.f-s-17{
	font-size: 17px;
}
.f-s-20{
	font-size: 20px;
}
.em-input {
	border: 1px solid #CCC;
	background: #F5F7F9;
	width: 100%;
	height: 40px;
	padding: 10px;
	outline: none;
	font-family: 'Lato', sans-serif;
}
.em-input:hover {
	border-color: #999;
}
.em-input:focus {
	border-color: #696969;
	box-shadow: 0 0 5px 0 #CCC inset;
}
.em-txtarea {
	min-height: 150px;
}
.cstm-form-control1{
	border-radius: 0px;
	border-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	height: 40px;
	/*padding: 5px 15px;*/
	box-shadow: none;
}
.cstm-form-control1:hover, .cstm-form-control1:focus{
	outline: none;
	border: 1px solid white;
	/*box-shadow: transparent;*/
	-webkit-box-shadow: none;
	border-color: white;
}
.em-btn{
	display: inline-block;
	background-color: #f79928;
	color: white;
	padding: 7px 20px;
	border: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	transition: 0.3s;
	border: 1px solid transparent;
}
.em-btn:hover, .em-btn:focus{
	text-decoration: none;
	border-color: #f79928;
	background: white;
	color: #f79928;
	outline: none;
}
.em-btn.em-btn-transparent:hover {
	background: transparent;
}
.em-btn.em-btn-inverse {
	border-color: #696969;
	background: #999;
}
.em-btn.em-btn-inverse:hover {
	background: transparent;
	color: #363636;
}
.submit-bg{
	background: rgba(255,255,255,0.4);
	padding: 15px;
	display: -webkit-inline-box;
}
.job-section{
	border-right: 1px solid white;
}
.brdr-r-none{
	border-right: none;
}
.job-section:hover {
	cursor: pointer;
}
.job-section i{
	background: white;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 25px;
	text-align: center;
	color: black;
	transition: 0.3s;
}
.job-section:hover i{
	background: #f79928;
	color: white;
	cursor: pointer;
}
.job-section p{
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	margin-top: 5px;
}

.job-section-so-link i{
	z-index: 9 !important;
	cursor: pointer;
	background: black;
	color: white;
	height: 24px;
	width: 24px;
	line-height: 24px;
	text-align: center;
	transition: 0.3s;
	margin-top: 5px;
}
.p-a{
	position: absolute;
}
.em-btn-default{
	display: inline-block;
	padding: 8px 20px;
	box-shadow: 0px 0px 0px 1px #333;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #636363;
	transition: 0.3s;
}
.em-btn-default:hover, .em-btn-default:focus{
	background: #f79928;
	color: white;
	text-decoration: none;
	box-shadow: 0px 0px 0px 1px #f79928;
}
.cstm-btn2{
	padding: 8px 20px;
	box-shadow: 0px 0px 0px 1px #f79928;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	border-radius: 0px;
	/*margin-left: 15px;*/
	transition: 0.3s;
	background-color: #f79928;
}
.cstm-btn2:hover, .cstm-btn2:focus{
	background: #f79928;
	color: #F79928;
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 0px 0px 1px #f79928;
}
.cstm-btn3{
	padding: 8px 20px;
	box-shadow: 0px 0px 0px 1px #666666;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	border-radius: 0px;
	transition: 0.3s;
	background-color: #666666;
}
.cstm-btn3:hover, .cstm-btn3:focus{
	background: #666666;
	color: #666666;
	text-decoration: none;
	background-color: transparent;
	box-shadow: 0px 0px 0px 1px #666666;
}
.left-triangle{
	width: 0;
	height: 0;
	border-right: 50vw solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}
.right-triangle{
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}
.triangle-gray{
	border-bottom: 40px solid #F3F3F3;
}
.triangle-white{
	border-bottom: 40px solid white;
}
.triangle-orange{
	border-bottom: 40px solid #f79928;
}
.triangle-black{
	border-bottom: 40px solid black;
}
.left-triangle1{
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}
.right-triangle1{
	width: 0;
	height: 0;
	border-right: 50vw solid transparent;
	position: absolute;
	bottom: 0;
	right: 0;
}
.triangle-white1{
	border-top: 40px solid white;
}
.triangle-gray1{
	border-top: 40px solid #F3F3F3;
}
.p-r{
	position: relative;
}
.orange-bg{
	background: #f79928;
}
.orange-clr{
	color: #F79928;
}
.cstm-brdr{
	width: 20px;
	/*height: 20px;*/
	/*box-shadow: 0px 0px 0px 2px white;*/
	border-top: 20px solid red;
	border-bottom: 0px solid transparent;
	border-right: 20px solid white;
	border-left: 20px solid white;
}
.cstm-brdr-top{
	border-bottom: 2px solid white;
}
.triangle-left{
	width: 0; 
	height: 0; 
	border-left: 22px solid transparent;
	border-right: 22px solid transparent;
	border-top: 22px solid white;
	position:relative;
}
.triangle-left:after{
	content:'';
	width: 0; 
	height: 0; 
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid #F79928;
	position:absolute;
	left:-21px;
	bottom:3px;
}
.brdr-top{
	width: 4%;
	border-top: 2px solid white;
  margin-right: -2px;
	margin-left: -2px;
}
.d-w-b{
	display: -webkit-box;
}
.job-title{
	color: black;
	transition: 0.3s;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.job-title:hover, .job-title:focus{
	border-bottom: 2px solid white;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	text-decoration: none;
	color: white;
}
.brdr-right{
	border-right: 1px solid white;
	padding-right: 15px;
	margin-right: 15px;
	height: 30px;
}
.job-type i{
	font-size: 75px;
	color: white;
	height: 150px;
	width: 150px;
	line-height: 150px;
	border-radius: 75px;
	background: #333;
	text-align: center;
	/*box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.2);*/
	box-shadow: 0px 0px 0px 12px #f8ab4e;
}
.job-type p{
	margin-top: 15px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.e-merge-desc i{
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 30px;
	background: #999;
	color: white;
	font-size: 30px;
	text-align: center;
}
.e-merge-desc h4{
	color: #f79928;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 0px;
}
.e-merge-desc p{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-top: 5px;
}
.fnt-italic{
	font-style: italic;
}
hr{
	max-width: 50px;
	border-width: 3px;
	border-color: #f79928;
	margin-top: 15px;
  margin-bottom: 15px;
}
.hr-white{
	border-color: white;
}
.team-section h3{
	margin: 0px;
	margin-top: 5px; 
}
.team-section p{
	margin: 0px;
}
.team-section-text h3{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.team-section-text p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.team-section-text a{
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 13px;
	transition: 0.3s;
	padding: 5px;
}
.team-section-text a:hover{
	color: #333;
	box-shadow: 0 1px 0 0 #333, 0 -1px 0 0 #333;
}
.team-section{
	background: white;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
	height: 320px;
}
.team-section img{
	padding: 10px;
}
.team-section .team-section-text{
	position: absolute;
  bottom: -320;
  background: rgba(247, 153, 50, 0.9);
  width: 100%;
  margin: 0px;
  /*padding: 7px;*/
  color: white;
  // text-shadow: 1px 1px 2px black;
  transition: 0.3s;
  height: 320px;
  padding: 10px;
  text-align: left;
}
.team-section:hover .team-section-text{
	bottom: 0px;
	cursor: pointer;
}
.m-l-0{
	margin-left: 0px;
}
.m-r-15{
	margin-right: 15px;
}
.em-area-content i{
	
}
.em-area-content h3{
	/*margin-top: 15px;*/
	font-size: 16px;
}
.em-area-content-icon {
	// float: left;
	text-align: center;
}
.em-area-content-icon i{
	color: #f79928;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 25px;
	text-align: center;
	border: 2px solid #f79928;
	font-size: 25px;
}
.em-area-content-lbl {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	// line-height: 50px;
	text-align: center;
	margin-top: 20px;
}
.client-section img{
	border: 1px solid #CCC;
	padding: 20px 35px;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.3s;
}
.client-section img:hover{
	box-shadow: 0 8px 8px -5px #CCC;
}
.white-clr{
	color: white;
}
.black-bg{
	background-color: black;
}
.owl-nav i:hover{
	cursor: pointer;
}
.arrow-center {
	display: flex;
	align-items: center;
}
.cstm-owl-nav i{
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	background: white;
	color: black;
	text-align: center;
}
.em-blog-content {
	font-family: 'Lato', sans-serif;
}
.blog-section{
	background: white;
  padding: 10px;
  border: 1px solid #999;
}
.blog-section-img{
	position: relative;
}
.blog-section-img h3{
  position: absolute;
  bottom: 0px;
  background: rgba(247, 153,40, 0.9);
  text-transform: capitalize;
  margin: 0px;
  padding: 7px;
  color: white;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.blog-section-img p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;	
}
.green-clr{
	color: #4f8734;
}
.sep-border-img {
	// height: 100% !important;
	max-height: 300px;
}
.cstm-arrow i{
	background: #cdcdcd;
	color: white;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 0px;
	transition: 0.3s;
}
.cstm-arrow i:hover{
	background: #b0b0b0;
}
.footer{
	background-image: url("../img/footer-bg1.jpg");
	background-size: cover;
}
.em-form-control{
	border-radius: 0px;
	padding: 10px;
	font-family: 'Lato', sans-serif;
  font-weight: 400;
  outline: none;
  box-shadow: none;
}
.em-form-control:hover, .em-form-control:focus{
	border-color: none;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.cstm-form-control2{
	border-radius: 0px;
	border-color: transparent;
	font-family: 'Lato', sans-serif;
  font-weight: 400;
  height: 40px;
  box-shadow: none;
	/*padding: 5px 15px;*/
}
.cstm-form-control2:hover, .cstm-form-control2:focus{
	outline: none;
	border: 1px solid white;
	/*box-shadow: transparent;*/
	-webkit-box-shadow: none;
	border-color: white;
}
.cstm-check-box{
	width: 15%;
	line-height: 15%;
}
.jdev-box1{
	border: 1px solid #e2e2e2;
	background: white;
	/*box-shadow: 0 0 3px 0 #CCC;*/
}
.jdev-box1 .d-i-f{
	padding: 15px;
}
.jdev-box1 h3{
	background: #d3d3d3;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding: 15px;
	margin: 0px;
}
.jdev-box1 label{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.jdev-box2{
	background: white;
	padding: 15px;
	margin-top: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	transition: all 280ms cubic-bezier(.4,0,.2,1);
	-webkit-transition: all 280ms cubic-bezier(.4,0,.2,1);
}
.jdev-box2:hover{
  box-shadow:	0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}
.jdev-box2 h4{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.jdev-box2 p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #363636;
}
/* Search result */
.search-div {
	position: relative;
	margin-right: 15px;
}
.search-div .search-filter{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search-btn .em-btn {
	height: 40px;
}
.search-box-title {
	// font-family: 'Oswald', sans-serif;
	// font-size: 18px;
	// font-weight: normal;
	font-family: 'Oswald', sans-serif;
	color: #FE8D00;
	font-size: 20px;
}
.search-box-ref {
	font-family: 'Oswald', sans-serif;
	color: #FE8D00;
	font-size: 20px;
}
.search-box-link {
	font-family: 'Lato', sans-serif;
	font-weight: 300
}
.search-box-link:hover {
	color: #FE8D00;
}
.search-box-content	{
	font-size: 16px;
	color: #666;
}
.search-small-t {
	font-family: 'Lato', sans-serif;
	color: #999;
	font-size: 14px;
}
/* Search filters */
.search-filter {
	border-bottom: 2px solid #CCC;
	position: relative;
}
.search-filter h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.search-filter .icon-filter {
	position: absolute;
	bottom: 0;
	right: 0;
}
.search-filter .icon-filter i{
	padding: 8px;
	margin-left: -4px;
	background-color: #E6E6E6;
	cursor: pointer;
}
.search-filter .icon-filter i.active{
	background-color: #FE8D00;
	color: white;
}

.footer-link li{
	list-style: none;
	text-align: left;
}
.footer-link li a{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.footer-address{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
.footer-so-link i{
	background: white;
	box-shadow: 0px 0px 0px 1px white;
	color: black;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	transition: 0.3s;
	margin-left: 15px;
}
.footer-so-link i:hover{
	background: transparent;
	cursor: pointer;
	color: white;
}
.testinomial-section p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #f9b562;
	padding: 15px;
	border-radius: 15px;
}
.testinomial-section .arrow{
	width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 0px solid transparent;
    border-top: 45px solid #F9B562;
    /*transform: rotate(-10deg);*/
    /*position: absolute;*/
}
.testinomial-section .person-img, .testinomial-person-name{
	float: left;
	margin-right: 15px;
}
.testinomial-section .person-img{
	height: 100px !important;
	width: 100px !important;
	border-radius: 50px;
}
.d-i-b{
	display: inline-block;
}

.jdev-so-icon i{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 15px;
	transition: 0.3s;
	margin-left: 10px;
	text-align: center;
}
.jdev-so-icon i:hover{
	color: white;
	cursor: pointer;
}
.jdev-fb{
	box-shadow: 0px 0px 0px 1px #2c3183;
	color: #2c3183;
}
.jdev-fb:hover{
	background: #2c3183;
}
.jdev-twitter{
	box-shadow: 0px 0px 0px 1px #4e9ec9;
	color: #4e9ec9;
}
.jdev-twitter:hover{
	background: #4e9ec9;
}
.jdev-linkedin{
	box-shadow: 0px 0px 0px 1px #2a5f9f;
	color: #2a5f9f;
}
.jdev-linkedin:hover{
	background: #2a5f9f;
}
.jdev-google{
	box-shadow: 0px 0px 0px 1px #d31411;
	color: #d31411;
}
.jdev-google:hover{
	background: #d31411;
}
.cstm-modal-content{
	border-radius: 0px;
  padding: 15px;
}
.modal-close {
	position: absolute;
  right: -15px;
  top: -15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #333;
  color: white;
  text-align: center;
  cursor: pointer;
}
.modal-close i{
	line-height: 29px;
}
.modal-box{
	border: 1px solid #CCC;
}
.modal-box h4{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 20px;
	background: #f79928;
	text-align: center;
	padding: 10px;
	margin: -1px;
}
.modal-so-icon .so-icon1{
	font-family: 'Lato', sans-serif;
	transition: 0.3s;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.modal-so-icon .so-icon1:hover a{
	text-decoration: none;
	cursor: pointer;
	color: white;
}
.modal-so-icon .fb{
	border: 1px solid #324b87;
}
.modal-so-icon .fb a{
	color: #324b87;
}
.modal-so-icon .fb:hover{
	background: #324b87;
}
.modal-so-icon .twitter{
	border: 1px solid #22bbf4;
}
.modal-so-icon .twitter a{
	color: #22bbf4;
}
.modal-so-icon .twitter:hover{
	background: #22bbf4;
}
.modal-so-icon .linkedin{
	border: 1px solid #5f87b7;
}
.modal-so-icon .linkedin a{
	color: #5f87b7;
}
.modal-so-icon .linkedin:hover{
	background: #5f87b7;
}
.modal-so-icon .google{
	border: 1px solid #e9492c;
}
.modal-so-icon .google a{
	color: #e9492c;
}
.modal-so-icon .google:hover{
	background: #e9492c;
}
.or{
	display: flex;
	background: #e1e1e1;
  height: 30px;
  width: 30px;
  text-align: center !important;
  line-height: 30px !important;
  border-radius: 15px;
}
/*Line on left and right*/
.modal-hr{
	max-width: 100% !important;
  border-width: 1px !important;
  border-color: #CCC !important;
}
.or{
	display: -webkit-inline-box;
	font-family: 'Lato', sans-serif;
  margin-top: -4%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  padding: 5px 0px 0px 8px;
}
/*Responsive 8 Grid Bootstrap*/
.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-8r {
	width: 12.5%;
	float: left;
}
/*Responsive 5 Grid Layout*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 992px) {
	.col-md-8r {
		width: 12.5%;
		float: left;
	}
	.col-md-15 {
    width: 20%;
    float: left;
  }
	.job-type-brdr{
		border-top: 12px solid #F8AB4E;
	  width: 70%;
	  margin-left: 15%;
	  overflow: initial;
	  margin-top: 7%;
	}
	.job-type{
		margin-top: -7%;
	}
}
@media (min-width: 1200px) {
	.col-lg-8r {
		width: 12.5%;
		float: left;
	}
	.col-lg-15 {
    width: 20%;
    float: left;
  }
}
@media (max-width: 1024px) {
	.so-icon{
		margin-top: 15px !important;
	}
	.header{
		background-size: cover;
	}
}
@media (min-width: 768px) {
	.cstm-form-control1{
		width: 500px;
	}
	.col-sm-8r {
		width: 12.5%;
		float: left;
	}
	.col-sm-15 {
    width: 20%;
    float: left;
  }
  .footer-link li a{
  	margin-left: 15px;
  	margin-right: 15px;
  }
  /*.footer-link li a:after{
		content: "|";
		margin-left: 30px;
		margin-right: 30px;
	}
	.footer-link li:last-child a:after{
		content: "";
	}*/
	.footer-link li{
		display: inline-block;
	}
	.modal-dialog{
		width: 900px;
	}
}
@media (max-width: 600px) {
	.team-section{
		height: 350px;
	}
	.team-section .team-section-text{
		height: 350px;
	}
	.col-md-15{
		margin-top: 10px;
	}
}
@media (max-width: 800px) {
	.m-t-10-sm{
		margin-top: 10px;
	}
}
@media (max-width: 320px) {
	.m-t-15-xs{
		margin-top: 15px;
	}
	.cstm-map{
		width: 100%;
	}
}


#resultContainer.list-view 	.job-result-block {
	width: 100%;
}

#resultContainer.list-view 	.job-result-block .jdev-box2 {
	margin-top: 0;
	background: transparent;
	box-shadow: none;
	border-bottom: 1px solid #ccc;
	transition: 0.5s;
}

#resultContainer.list-view 	.job-result-block .jdev-box2:hover {
	background: #fff;
box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}
